* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(168,152,69);
    background: linear-gradient(130deg, rgba(168,152,69,1) 0%, rgba(162,34,240,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}